@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

/* =================================================== site colors */
:root {
  --mainColor: #d7d7d7;
  --flairColor: #83bcfc;
  --bgColor: #2c2a2c;
  --barColor: #282628;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =================================================== default body and headers */
body {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Alegreya', serif;
  color: var(--mainColor);
  background: var(--bgColor);
  transition: all 2s ease;
}

h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  color: var(--flairColor);
}

h3 {
  font-size: 2rem;
}

/* resposive stuff */
@media(max-width: 530px) {
  body {
    font-size: 1.1rem !important;
  }

  h1 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.6rem;
  }
}

@media(max-width: 350px) {
  body {
    font-size: .8rem !important;
  }

  h1 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}

/* =================================================== default link formatting */
a {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--mainColor);
}

a:hover,
a:focus {
  color: #fff;
}

/* =================================================== nav menu stuff */
header {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s ease;
}

nav li {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  vertical-align: top;
  margin: 2.3rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  transition: all 0.1s linear;
}

nav ul {
  position: relative;
  background: var(--bgColor);
}

nav li:hover,
nav li:focus {
  transform: scale(1.05);
}

/* resposive stuff */
@media(max-width: 850px) and (min-height: 500px) {
  nav li {
    display: list-item;
    margin: 1vh;
    text-align: center;
  }

  nav ul {
    list-style-type: none;
  }
}

@media(max-width: 530px), (max-height: 500px) {
  nav li {
    font-size: 1.2rem;
  }
}

@media(max-width: 350px) {
  nav li {
    font-size: .8rem;
  }
}

/* =================================================== ember bg */

canvas{
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

/* =================================================== welcome message */
#welcome {
  position: relative;
  will-change: transform;
  transition: all 1.3s ease;
  z-index: -1;
}

#welcome h1 {
  padding-top: 40vh;
}

/* resposive stuff */
@media(max-width: 600px) {
  #welcome h1 {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media(max-width: 530px) {
  #welcome h1 {
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media(max-width: 350px) {
  #welcome h1 {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}

/* =================================================== about me section
The use of em allows this to
be resized using font-size and
retain its layout.

Probably won't do it that way
but hey it was nice getting
it to work.*/

#bio {
  position: relative;
  will-change: transform;
  transition: all 0.6s ease;
  z-index: -1;
}

#elliott {
  position: relative;
  will-change: transform;
  transition: all 0.6s ease;
  z-index: -1;
}

#elliott p {
  font-size: 2rem;
  margin-top: 3vh;
}

#bio img {
  float: right;
  height: 13em;
  margin-left: 1em;
}

#bio p {
  font-size: 1.7rem;
  text-align: right;
  width: 27em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh;
}

/* resposive stuff */
@media(max-width: 1100px) {
  #bio img {
    display: none;
  }

  #bio p {
    text-align: center;
    width: 25rem;
  }
}

@media(max-width: 530px) {
  #bio p {
    font-size: 1.2rem;
    text-align: center;
    width: 18rem;
  }
}

@media(max-width: 350px) {
  #bio p {
    font-size: 1.2rem;
    text-align: center;
    width: 90vw;
  }
}

/* =================================================== refraction simulation */
.refraction p {
  font-size: 1.7rem;
  width: 60rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60rem;
}

/* resposive stuff */
@media(max-width: 1100px) {
  .refraction p {
    width: 90vw !important;
  }
}

@media(max-width: 760px) {
  .refraction p {
    display: none !important;
  }
}

/* =================================================== current project section*/
.currentProj {
  margin-top: 10rem;
}

.currentProj .row1 img {
  float: right;
  height: 12.5em;
  margin-left: 1em;
}

.currentProj .row1 p {
  text-align: right;
  width: 37em;
  margin-left: auto;
  margin-right: auto;
}

.currentProj .row2 {
  margin-top: 4rem;
}

.currentProj .row2 img {
  float: left;
  width: 14.5em;
  margin-right: 1em;
}

.currentProj .row2 p {
  text-align: left;
  width: 41em;
  margin-left: auto;
  margin-right: auto;
}

/* resposive stuff */
@media(max-width: 1100px) {
  .currentProj p {
    text-align: center !important;
    width: 60vw !important;
  }

  .currentProj .row1 img {
    display: none !important;
  }

  .currentProj .row2 img {
    width: 60vw;
    float: none;
  }

  .currentProj .row2 {
    margin-top: 0rem;
  }
}

/* Just learned about vw. gamechanger. */
@media(max-width: 600px) {
  .currentProj p {
    text-align: center !important;
    width: 90vw !important;
  }

  .currentProj .row2 img {
    width: 90vw;
    float: none;
  }
}

/* =================================================== completed game section */
#integer {
  margin-top: 10rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* styling for the three images */
#integer .title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 25rem;
}

#integer p .sidebar {
  float: right;
  height: 28em;
  margin-left: 1em;
}

#integer p .inline {
  width: 28em;
}

#integer p {
  text-align: right;
  width: 45em;
  font-family: 'Anonymous Pro', monospace;
  margin-left: auto;
  margin-right: auto;
}

#integer .link {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

#integer .link a:hover,
#integer .link a:focus {
  background-color: #ff4141;
}

/* resposive stuff */
@media(max-width: 1100px) {
  #integer p {
    text-align: center;
    width: 60vw !important;
  }

  #integer p .sidebar {
    display: none !important;
  }

  #integer p .inline {
    width: 60vw !important;
  }
}

@media(max-width: 900px) {
  #integer h1 {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media(max-width: 590px) {
  #integer .link iframe {
    width: 90vw;
  }
}

@media(max-width: 530px) {
  #integer h1 {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }

  #integer p {
    text-align: center;
    width: 90vw !important;
  }

  #integer .title {
    width: 90vw !important;
  }

  #integer p .inline {
    width: 90vw !important;
  }
}

@media(max-width: 335px) {
  #integer h1 {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}

/* =================================================== other experience section */
.experience {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.experience img {
  height: 10rem;
  float: left;
  margin-top: 1rem;
}

/* card formatting */
.experience .expCard {
  display: flex;
  align-items: center;
  width: 45rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

.experience .expCard .expDesc {
  text-align: left;
  margin-left: 2rem;
  font-size: 1.2rem;
}

.experience .expCard .expDesc h4 {
  font-size: 1.5rem;
}

/* resposive stuff */
@media(max-width: 900px) {
  .experience .expCard {
    flex-direction: column;
    width: 90vw;
  }

  .experience .expCard .expDesc {
    text-align: center;
  }
}

@media(max-width: 700px) {
  .experience img {
    height: 30vw;
    float: left;
    margin-top: 1rem;
  }
}
