@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

:root{
  --mainColor: #d7d7d7;
  --flairColor: #83bcfc;
  --bgColor: #2c2a2c;
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-family: 'Alegreya', serif;
  color: var(--mainColor);
  background: var(--bgColor);
}

h1{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  color: var(--flairColor);
}

h3{
  font-size: 2rem;
}

/* nav menu stuff */

nav li{
  display: inline-block;
  font-size: 1.5rem;
  margin: 2.3rem;
  margin-top: 0rem;
}

nav a{
  vertical-align: top;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 400;
  padding: 0rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--mainColor);
}

nav a:hover,
nav a:focus{
  color: #fff;
}

/* welcome message */

.welcome h1{
  padding-top: 15rem;
}

/* about me section */

.bio > *{
  vertical-align: middle;
}

.bio img{
  float: right;
  height: 13em;
  margin-left: 1rem;
}

.bio p{
  text-align: right;
  width: 55rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25rem;
}

/* refraction simulation */

.refraction p{
  font-size: 1.7rem;
  width: 60rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60rem;
}
